:root {
    --rojo: #eee --fondo: #222
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    width: 100%;
    height: 100%;
}

h1,h2,h3 {
    font-size: 5em;
}

p {
    font-size: xx-large;
}

.scroll-section {
    margin-top: -4rem;
    /* Ajusta segÃƒÆ’Ã‚Âºn sea necesario para que el tÃƒÆ’Ã‚Â­tulo sea visible */
    padding-top: 4rem;
    /* Asegura que el contenido no quede oculto por el margen superior negativo */
}

html {
    scroll-behavior: smooth;
    font-family: 'Bebas Neue';
}

body {
    background-position-x: 50%;
    background-position-y: 50%;
    background-size: 50%;
    background-repeat: no-repeat;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
    background-image: linear-gradient(#02158d, #02158d);
    text-transform: uppercase;
    font-size: 16px;
    color: #b70817;
}

/* NAV */
nav {
    background-color: #b70817;
    top: 0;
    text-align: center;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10em;
    padding-top: 5em;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin: 0 5px;
}

nav ul li a {
    color: #ffffff;
    display: inline-grid;
    padding: 10px;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
    font-size: 3em;
}

nav ul li a:hover {
    color: #666;

}

nav ul li a:active {
    font-weight: bold;
}

nav ul li a::before {
    content: "";
    display: inline-block;
    margin-right: 5px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    /* background-color: #333; */
    vertical-align: middle;
}

nav ul li a.active::before {
    background-color: #666;
}

nav ul li a:visited {
    color: #ffffff;
}

/* FIN NAV */

.contenedor {
    width: 95%;
    margin: auto;
}

header {
    background-color: white;
    text-align: center;
    font-variant: all-petite-caps;
    background-image: url(gota-agua.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

main {
    color: white;
    height: auto;
    text-align: center;
    /*Todo el contenido, del html va a estar en el centro. Si hay posibilidad, soimplificar esto*/
    font-variant: all-petite-caps;

    background-position-x: 50%;
    background-position-y: 50%;
    background-size: 80%;
    background-repeat: no-repeat;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
    background-image: linear-gradient(#02158d, #02158d);
}


footer {
    background-color: #b70817;
    text-align: center;
    text-decoration: none;
    position: static;
    bottom: 0;
    width: 100%;
}

footer img {
    width: 2em;
    height: 2em;
    text-decoration: none;
    margin-top: auto;
}

footer a {
    text-decoration: none;
    color: white;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 1em;
    margin-right: 1em;
}

.box_footer {
    width: fit-content;
    padding-top: 1em;
    padding-left: 1em;
    padding-right: 1em;
    float: left;
    transition: 1s;
}

.box_footer a:hover {
    text-decoration: none;
    color: white;
}

/* selected link */
/* @media screen and (max-width: 600px) {
    .scroll-section {
        margin-top: -7rem;
        padding-top: 7rem;
    }
}

/* Media querys */
/* @media screen and (max-width: 767px) {
    
} */ 

/* @media screen and (min-width:1024px) {

} */

.button {
    border: none;
    padding: 30px 60px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 20px;
    transition-duration: 0.4s;
    cursor: pointer;
    font-variant: normal;
}

.button1 {
    background-color: #b70817;
    color: white;
}

.button1:hover {
    color: white;
    background-color: #02158d;
}

/* Boton de ir al pie de la pagina */
.button-flotante {
    border: 0.2em solid #5a5a5a;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #838383;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 0.4em;
    text-decoration: none;
    margin-bottom: -10px;
}

.separador_box_footer {
    padding-top: 1em;
    float: none;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 0.5em;
    margin-left: 0.5em;
    display: flex;
}

.img-servicios{
    width: 7em;
    height: 10em;
    text-align: center;
    display: inline-table;
    margin: 2em;
}

.padding{
    padding: 1em;
}

.content{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}